.home-container {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  @media screen and (max-width: 700px) {
    width: 90%;
    overflow-y: scroll;
    height: 80vh;
    > h1 {
      margin-top: 50px !important;
    }
  }
  > h1 {
    // color: #3e5a7e;
    color: rgb(68, 63, 116);
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: -50px;
    font-family: Realtime;
    text-align: center;
  }
  > div {
    // min-width: 375px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }
}

.card {
  cursor: pointer;
  color: white;
  font-family: Realtime;
  border-radius: 8px;
  min-width: 100px;
  padding: 0 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10px 0;
}

.card1 {
  background: linear-gradient(
    to right bottom,
    rgb(114, 137, 221),
    rgb(180, 154, 246)
  );
  &:hover {
    background: linear-gradient(
      to right bottom,
      rgb(93, 114, 187),
      rgb(167, 139, 236)
    );
  }
}

.card2 {
  background: linear-gradient(
    to right bottom,
    rgb(239, 135, 150),
    rgb(244, 186, 142)
  );
  &:hover {
    background: linear-gradient(
      to right bottom,
      rgb(231, 103, 122),
      rgb(241, 176, 126)
    );
  }
}

.card3 {
  background: linear-gradient(
    to right bottom,
    rgb(98, 138, 239),
    rgb(122, 198, 226)
  );
  &:hover {
    background: linear-gradient(
      to right bottom,
      rgb(91, 128, 223),
      rgb(116, 175, 197)
    );
  }
}

.card4 {
  background: linear-gradient(to right bottom, #14af83, #32e0c0);
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.1)
  );
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  height: 10rem;
  width: 10rem;
  top: 5%;
  right: 15%;
}

.circle2 {
  height: 20rem;
  width: 20rem;
  bottom: 5%;
  left: 4%;
}
